@font-face {
  font-family: "Nunito-Regular";
  src: url("../fonts/Nunito-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Exo2-Regular";
  src: url("../fonts/Exo2-Regular.ttf") format("ttf");
}


